MASTODON_API_URL=https://nomanssky.social/api/v1/
MASTODON_TIMEOUT_MS=5000
ANMS_API_URL=https://api.nmsassistant.com
AA_API_URL=https://api.assistantapps.com

API_PORT=55555

XATA_API_KEY=
XATA_DB_URL=
XATA_FALLBACK_BRANCH=