MASTODON_API_URL=https://nomanssky.social/api/v1/
MASTODON_TIMEOUT_MS=5000
ANMS_API_URL=https://api.nmsassistant.com
AA_API_URL=https://api.assistantapps.com

# API key used by the CLI and the SDK
# Make sure your framework/tooling loads this file on startup to have it available for the SDK
XATA_API_KEY=
XATA_DB_URL=
# Xata branch that will be used if there's not a xata branch with the same name as your git branch
XATA_FALLBACK_BRANCH=