.mt-toot {
    padding-right: 0.5em;
    border-radius: 10px;
    border-bottom: none;

    .toot-media {
        border-radius: 1em;
    }
}

.conversations {
    .convo,
    .notification {
        width: 100%;
        padding: 0.5em;
        margin: 0.5em;
        border: 1px dashed rgba(255, 255, 255, 0.2);
        border-radius: 10px;

        .content {
            &.limit-height {
                max-height: 50px;
                overflow: hidden;
            }

            img.emoji {
                display: inline-block;
                max-height: 20px;
                max-width: 20px;
                margin-bottom: -5px;
            }

            .invisible {
                display: none;
            }
        }
    }

    .notification {
        .content {
            &.limit-height {
                max-height: 75px;
                overflow: hidden;
            }
        }
    }
}
